body {
  padding: 0;
  text-align: center;
}

#game-intro {
  padding: 20px 0px;
  display: none;
}

/* #game-container {
    display: flex;
    width: 100vw;
    padding: 20px 0px;
    justify-content: center;
  } */

#game-container {
  position: relative;
}

/* Canvas element */
#game-screen {
  width: 800px;
  height: 400px;
  display: inline-block;
}

#impassable {
  position: absolute;
  top: 0;
  left: 380px;
  width: 270px; /* Adjust width as needed */
  height: 240px; /* Adjust height as needed */
  background-color: transparent;
  border: 1px dashed red; /* Just for visualization */
}

/* @keyframes slide {
    0% {
      background-position: 0 -1000px;
    }
    95% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 50px;
    }
  } */

#game-end {
  display: none;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

.logo-img {
  width: 350px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}
