body {
  padding: 0;
  text-align: center;
  display: flex;
  /*
  flex-direction: column;
  */
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

#game-intro {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: auto;
}

#game-intro p {
  font-size: 1.5rem;
}

#game-container {
  display: none;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  position: relative;
}

#top-container, #bottom-container  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  width: 100%;
}

#top-container .wrapper{
  display: flex;
}

#game-screen {
  flex: 1;
}

/* Divs for left, right, and bottom sides */
#left-side,
#right-side {
  background-color: white;
  flex: 0 0 100px;
  font-size: 2rem;
}

/*
#bottom-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
*/
#text-container {
  position: relative;
  width: 800px;
  height: 100px;
  border: none;
  margin: none;
}

#text-box {
  position: absolute;
  font-size: 3rem;
  text-align: center;
  padding: 20px;
  /*
  border: 2px solid black;
  */
  border-radius: 10px;
  transition: color 0.5s ease-in-out;
}

#score {
  font-size: 2rem;
  margin-top: 20px;
  text-align: center;
  transition: color 0.5s ease-in-out;
}

.red-text {
  color: red;
}

.green-text {
  color: green;
}
.black-text {
  color: black;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scoreUpdate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#game-end {
  display: none;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

.logo-img {
  width: 350px;
}

body button {
  font-size: 20px;
  background-color: blue;
  color:yellow;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 5px;
}
